<div class="card black machine-show">
  <a class="" ng-href="/"><h1>{{ msc.machine.name }}</h1></a>
  <div ng-hide="msc.dataLoaded" class="progress">
    <div class="indeterminate"></div>
  </div>
  <div ng-show="msc.dataLoaded">
    <p class="my-label" ng-show="!msc.highscores.length">no current high scores posted</p>
    <p class="my-label" ng-repeat="high in msc.highscores | orderBy: 'score' ">{{ high.initials }} : {{ high.score }}</p>
  </div>
  <hr>
  <a class="ipdb-link" href="{{ msc.machine.ipdb_link }}">{{ msc.machine.name }} IPDB link</a>
</div>
