<div ng-repeat="machine in mic.machineList | orderBy: 'name' " class="card grey darken-4">
  <div class="card-content activator waves-effect waves-block waves-light">
    <span class="card-title activator">
      <h4 class="machine-name activator">{{ machine.name }}</h4>
      <span class="year center-align activator">{{ machine.year }}</span>
    </span>
  </div>
  <div class="card-reveal black">
    <span class="card-title machine-info">
      <i class="material-icons right">close</i>
      <a class="add-a-hs-btn grey darken-3 waves-effect waves-light btn-medium"
        ng-href="/machine/{{ machine.id }}">add high score
      </a>
      <p><span class="my-label">{{ machine.name }},
        </span> {{ machine.manufacturer }},
        <span style="color:dodgerblue">{{ machine.year }}, </span>
        <br>
        <a class="ipdb-link" href="{{ machine.ipdb_link }}">IPDB link</a>
      </p>
    </span>
  </div>
</div>

      <!--<a ng-href="/machine/{{ machine.id }}"></a>  goes to msc page-->
