<div class="card black machine-show">
  <a class="" ng-href="/"><h1>{{ msc.machine.name }}</h1></a>

  <!-- Input Fields -->
  <div class="row">
    <form ng-submit="msc.onSubmit()">
      <div class="input-field col s6">
        <input id="initials" type="text" class="validate">
        <label for="initials">Initials</label>
      </div>
      <div class="input-field col s6">
        <input id="score" type="text" class="validate">
        <label for="score">Score</label>
      </div>
      <button class="submit-btn btn-large orange accent-4 waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">control_point</i>
      </button>
    </form>
  </div>

  <!-- PreLoader -->
  <div ng-hide="msc.dataLoaded" class="progress">
    <div class="indeterminate"></div>
  </div>

  <!-- High Scores -->
  <div ng-show="msc.dataLoaded">
    <p class="my-label" ng-show="!msc.highscores.length">no current high scores posted</p>
    <p class="my-label" ng-repeat="high in msc.highscores | orderBy: 'score' ">{{ high.initials }} : {{ high.score }}</p>
  </div>
  <hr>

  <!-- IPDB Link -->
  <a class="ipdb-link" href="{{ msc.machine.ipdb_link }}">{{ msc.machine.name }} IPDB link</a>
</div>
