body {
  background-image: url('/public/images/stardust.png');
}

footer {
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin: 50px;
}

footer a {
  color: black;
  font-family: 'Arial Narrow', sans-serif;
  font-size: .5em;
  text-decoration: none;
  margin-left: 10px;
}

.fgwatch {
  max-height: 60px;
  padding-right: 25px;
  float: right;
  filter: opacity(15%);
}

.machine-index {
  color: dodgerblue;
  font-family: 'Audiowide', sans-serif;
  text-decoration: none;
}

.machine-show {
  color: navajowhite;
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5em;
  padding: 25px;
}

.machine-name {
  color: dodgerblue;
  font-family: 'Audiowide', sans-serif;;
  font-weight: 100;
  font-size: 1.5em;
  padding-top: 10px;
  margin-left: 50px;
}

.machine-info {
  color: navajowhite;
  font-family: 'Audiowide', sans-serif;
  font-size: .75em;
}

.my-label {
  color: salmon;
  font-weight:
}

.ipdb-link {
  color: lightgreen;
}

.load-text {
  color: lightgreen;
  font-family: 'Audiowide', sans-serif;
}

.load-text .small {
  color: salmon;
  font-family: 'Mr Dafoe', sans-serif;
}

.add-a-hs-btn {
  color: darkgrey;
  font-family: 'Audiowide', sans-serif;
  border-radius: 10px;
  padding: 5px;
  float: right;
}

.submit-btn {
  border-radius: 25px;
  float: right;
  margin-right: 10px;
}

.jumbotron h1 {
  color: black;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 100px;
}

.jumbotron .scores {
  color: navajowhite;
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 2px 2px black;
  font-size: 0.75em;
}

.year {
  color: navajowhite;
  font-family: 'Mr Dafoe', cursive;
  font-size: 1.5em;
  float: right;
  margin-right: 50px;
  padding-bottom: 10px;
}


.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
