body {
  background: black; /* sanity check */
}

.machine-index {
  font-family: 'Audiowide', sans-serif;
  text-decoration: none;
  color: dodgerblue;
}

.machine-show, h1 {
  color: white;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 2em;
}

.machine-show, p {
  color: navajowhite;
  font-family: 'Audiowide';
  font-size: 1.5em;
}

.machine-info {
  color: dodgerblue;
  font-family: 'Audiowide';
  font-size: 1.5em;
}

.ipdb-link {
  color: lightgreen;
  font-family: 'Audiowide';
  font-size: 1.5em;
}

.jumbotron {
  background-image: url('/public/images/stardust.png');
}

.jumbotron h1 {
  color: black;
  font-family: 'Bungee Shade', sans-serif;
}

.jumbotron .scores {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 2px 2px black;
  color: navajowhite;
  font-size: 0.75em;
}

.year {
  font-family: 'Mr Dafoe', cursive;
  color: navajowhite;
  font-size: 1.5em;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
